.card-container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 80px;
   height: 45vh;   
}
.card{
    color: white;
    padding: 5rem 8rem;
}

.card p{
    padding-top: 1rem;
    line-height: 150%;
    text-shadow: 1px 1px black;
}

.card h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.expand {
    width: 30rem;
    height: 15rem;
}

.card button{
    margin-top: 2rem;
    width: 100px;
    height: 40px;
    border-radius: 999px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    transition: 0.4s ease-in-out;
}

.card button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.card button:hover a{
    color: black;
}

.card button a{
    text-decoration: none;
    transition: 0.4s ease-in-out;
    color: white;
}

.card button a:hover{
    color: black;
}